@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.content-container {
	font-size: 16px;
	line-height: 1.5;
	margin: 20px 0;
	padding: 10px;
}

.content-container h1 {
	font-size: 24px;
	font-weight: bold;
	color: #ffffffee;
	margin: 0;
}

.content-container h2 {
	font-size: 20px;
	font-weight: bold;
	color: #ffffffdd;
	margin: 0;
}

.content-container h3 {
	font-size: 18px;
	font-weight: bold;
	color: #ffffffcf;
	margin: 0;
}

.content-container h4 {
	font-size: 16px;
	font-weight: bold;
	color: #ffffffcc;
	margin: 0;
}

.content-container h5 {
	font-size: 14px;
	font-weight: bold;
	color: #ffffffbf;
	margin: 0;
}

.content-container p {
	margin: 10px 0;
	color: #ffffffbb;
}

.content-container a {
	color: #007bff;
	text-decoration: underline;
}

.content-container ul {
	list-style-type: disc; /* Unordered list style: disc, circle, or square */
	margin-left: 20px; /* Adjust the left margin as needed */
	color: #ffffffbb;
}

.content-container ol {
	list-style-type: decimal; /* Ordered list style: decimal, lower-alpha, upper-alpha, etc. */
	margin-left: 20px; /* Adjust the left margin as needed */
	color: #ffffffbb;
}
